<!DOCTYPE html>
<html>
<head>
  <title>Spotless for Spotify</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>
<body>
  <div id="app">

    <p>{{ message }}</p>
    <p>Current User: {{ user_id }}</p>

    <button v-on:click="getPlaylists">Load Playlists</button>
    <ul>
      <li v-for="playlist in playlists">
        <b v-if="selectedPlaylist === playlist.id">
          {{ playlist.name }} ({{ playlist.tracks.total }} tracks) <button v-on:click="getTracksForPlaylist(playlist.id)">Cleanup</button>
        </b>
        <div v-else>
          {{ playlist.name }} ({{ playlist.tracks.total }} tracks) <button v-on:click="getTracksForPlaylist(playlist.id)">Cleanup</button>
        </div>
      </li>
    </ul>

    <hr />

    <h3>Cleaning up: {{ selectedPlaylistName }}</h3>
    <div v-if="targetLoading">Loading</div>

    <div v-if="targetTrack !== null">
      <button v-on:click="playAudio(targetTrack.preview_url)">Start cleaning!</button>
      <button v-on:click="nextTrack()">Next Song ></button>
      <button v-on:click="pauseAudio()">Stop</button>
      <p style="color: red">{{ playbackError }}</p>
      <h4>
        {{ targetTrack.name }} by {{ targetTrack.artists }} on {{ targetTrack.added_at }}
      </h4>
      <img v-bind:src="targetTrack.album.images[0].url" style="max-width: 200px" />
    </div>

  </div>
  <script src="/index.js"></script>
</body>
</html>
