<!DOCTYPE html>
<html>
<head>
  <title>Spotless for Spotify</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="./timeAgo.js"></script>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>
<body>
  <div id="app">

    <p>{{ message }}</p>
    <p>Current User: {{ user_id }}</p>

    <button v-on:click="getPlaylistsForUser(user_id)">Load Playlists</button>
    <ul>
      <playlist-item
        v-for="playlist in playlists"
        v-bind:key="playlist.id"
        v-bind:playlist="playlist"
        v-bind:selected="selectedPlaylist === playlist.id"
        v-on:clean-this="getTracksForPlaylist"
        v-on:archive-into="selectArchivePlaylist"
      />
    </ul>

    <hr />

    <h3>Archiving tracks into:
      <span v-if="archivePlaylistName === ''" style="color: rgb(200, 200, 200)"><em>Spotless Archive</em></span>
      <span v-else>{{ archivePlaylistName }}</span>
    </h3>

    <hr />

    <h3>Cleaning up: {{ selectedPlaylistName }}</h3>
    <div v-if="targetLoading">Loading</div>

    <div v-if="targetTrack !== null">
      <button v-on:click="startCleaning()">Start cleaning!</button>
      <span v-if="started === true">
        <button v-on:click="nextTrack()">Next Song ></button>
        <button v-on:click="pauseAudio()">Stop</button>
      </span>

      <div v-if="started === true">
        <p style="color: red">{{ playbackError }}</p>

        <h4>
          {{ targetTrack.name }} by {{ targetTrack.artists }}
        </h4>
        <img v-bind:src="targetTrack.album.images[0].url" style="max-width: 200px" />
        <div>You added this {{ timeAgo(targetTrack.added_at) }}</div>

        <div>
          <button v-on:click="archiveTrack(selectedPlaylist, targetTrack.id)" style="display: inline-block">Archive 📦</button>
          <button v-on:click="nextTrack()" style="display: inline-block">Keep 👍</button>
        </div>
      </div>
    </div>

    <div style="margin-bottom: 100px"></div>

  </div>
  <script src="/index.js"></script>
</body>
</html>
